.inputForm {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin: 0 0 3rem 0;

  .input,
  .submitBtn {
    background-color: transparent;
    border: 2px solid var(--text-color);
    border-radius: 40px;
    color: var(--text-color);
    font-size: 1.1rem;
  }

  .input {
    padding: 0.5rem 0 0.5rem 1rem;
  }

  .submitBtn {
    cursor: pointer;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: var(--bg-color-90);
    }
  }
}
