.menu {
  background: var(--bg-color);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid color-mix(in hsl, var(--bg-color) 90%, var(--text-color));
  border-radius: 4px;
  list-style: none;
  padding: 0;
  margin: 4px 0 0;
  min-width: 200px;

  .dropdownItem {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover,
    &:focus-within {
      background: var(--bg-color-90);
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--bg-color-90);
    }

    .button {
      background: transparent;
      border: none;
      font-size: inherit;
      width: 100%;
      height: 100%;
      color: inherit;
      text-align: left;
      cursor: inherit;
      padding: 10px;
    }
  }
}
