.title {
  text-align: center;
  margin: 4rem 2rem 1rem 2rem;
  line-height: 1.2;
}

.howToPlayBtn {
  align-self: center;
  background-color: rgb(83, 92, 159);
  border-radius: 6px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (hover: hover) {
    &:hover {
      background-color: rgba(83, 92, 159, 0.75);
    }
  }

  .playAgainKeybinding {
    top: unset;
    bottom: unset;
    right: unset;
    translate: unset;
    position: relative;
    margin-top: 0.25rem;
    font-size: small;
  }
}
