.title {
  text-align: center;
  margin: 6rem 2rem 3rem 2rem;
}

.howToPlayBtn {
  align-self: center;
  background-color: rgb(83, 92, 159);
  border-radius: 6px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: white;
  border: none;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background-color: rgba(83, 92, 159, 0.75);
    }
  }
}
